.sonai{
    height:130%;
    width: 20%;
    background-color: rgba(46, 45, 45, 0.733);
    float: right;
    margin: 0%;
    padding: 0%;
}
.centras{
    height: 130%;
    width: 60%;
    background-color: rgba(168, 180, 190, 0.514);
    float: right;
    margin: 0%;
}
.receptas{
    width: 60%;
    height: 13%;
    margin-top: 1.5%;
    margin-bottom: 1%;
    margin-left: 10%;
    background-color: rgba(128, 128, 128, 0.295);

}
.rimg{
    height: 80%;
    width: 20%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-top: 2%;
    float: left;
}

.bs{
    background-color: grey;
    height: 25%;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
    margin-left: 7%;
    margin-right: 4%;
    
}

.zimgz{
    height: 80%;
    width: 20%;
    float: left;
    background-color: black;
    margin-left: 2%;
    margin-top: 1%;
}


html {
    scroll-behavior: smooth;
  }
div{
    border: 0%;
}

.heads{
    font-size: 60pt;
    text-align: right;
}

.rpav{
    font-size: 20pt;
    text-align: center;
}
a{
    font-size: 24pt;
    text-decoration: none;
}